// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bookmark-tile{
	width: 350px;
	padding: 15px;
	display:inline-block;
	//min-height:400px;
	margin: 6px;
	background-color:rgba(0,0,0,0.65);
	border-radius:10px;
	float:left;
	box-shadow: 2px 0px 15px #000;
}

.bookmark-tile img{
	max-width:70%;
	background-color: white;
	border-radius:3px;
	margin: 10px 0 10px 0;
}

#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.bookmark-show-image{
	max-width:100%;
	border-radius:4px;
	box-shadow:0 0 100px rgba(0,0,0,.9);
	margin-top:20px;
}