// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bookmark-tile{
	width: 350px;
	border: 1px solid #FFF;
	padding: 3px;
	display:inline-block;
	//min-height:400px;
	margin: 6px;
	background-color:#133C3D;
	border-radius:3px;
	float:left;
	box-shadow: 2px 0px 15px #000;
}

.bookmark-tile img{
	max-width:70%;
	background-color: white;
	border-radius:3px;
	margin: 10px 0 10px 0;
}

#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}